build/
exe/
bin/
obj/
.vs/
__pycache__
/src/results/
/src/runs/
env/

# Ignore local file

/src/export/samples/Alexnet2ONNX/alexnet.onnx

/src/regression/samples/ThresholdBinarization/CreateDataset/test_csvfile.csv
/src/regression/samples/ThresholdBinarization/CreateDataset/train_csvfile.csv

/src/regression/samples/ThresholdBinarization/RegressionHardcoded/my_model.pth
/src/regression/samples/ThresholdBinarization/RegressionHardcoded/traced_model.pth
/src/regression/samples/ThresholdBinarization/RegressionHardcoded/traced_model.pt

/src/regression/samples/ThresholdBinarization/RegressionFromFile/my_model.pth
/src/regression/experiments/

/src/graph/samples/MixGraphs/runs/

/src/serialization/samples/pth2pt/model_h256_w256_mode1_cuda.pt
/src/serialization/samples/pth2pt/traced_model.pt

